# dependencies
node_modules/

# env & secrets
.env
.env.*
cookies.txt

# runtime data / local storage
apps/backend/data/*.json
data/*.json

# prisma
**/prisma/dev.db
**/.prisma/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

*.bundle

